<div id="all-pins" class="transitions-enabled">
    <% @pins.reverse_each do |pin| %>
    <div class="box">
      <div class="edit-image"><%= link_to image_tag(pin.image.url), pin_path(pin) %>
        <div class="pin-edit">
          <% if pin.user == current_user %>
            <%= link_to '', edit_pin_path(pin) %>
            <%= link_to '✖', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
      <div class="box-body">
        <h1><%= pin.title %></h1>
        <h2><%= pin.description %></h2>
      </div>
      <hr>
      <div class="box-body">
        <div class="avatar">
          <% if pin.user == current_user %>
            <%= link_to image_tag(current_user.avatar.url(:thumb)), edit_user_registration_path %>
          <% else %>
            <%= link_to image_tag(pin.user.avatar.url(:thumb)), profile_path(pin.user.name) %>
          <% end %>
        </div>
        <p>by <span><%=link_to pin.user.name, profile_path(pin.user.name) %></span><p>
      </div>
    </div>
  <% end %>
</div>
