<div class="user-wrap">
  <div class="user-show">
    <%= image_tag @pin.image.url %>
    <h3><%= @pin.title %></h3>
    <h4><%= @pin.description %></h4>
    <p>by <span><%= link_to @pin.user.name, profile_path(@pin.user.name) if @pin.user %></span><p>
    <%= link_to like_pin_path(@pin), method: :put do |u| %>
      <div class="vote">❤ <%= @pin.get_upvotes.size %></div>
    <% end %>
    <div class="user-btn-shared">
      <% if @pin.user == current_user %>
        <%= link_to 'Edit', edit_pin_path(@pin) %> |
      <% end %>
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>
